@import 'bulma';

@import url('https://fonts.googleapis.com/css?family=Gilda+Display');


nav {  
  display: flex;
  justify-content: center;

  a{
    margin: 10px;
  }

}

.images {
  display:flex;
  align-items:flex-start;
}

li.ng-scope {
  width:250px;
  margin: 5px;

}

div.card {
  height:250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;

    header{
      font-weight: bolder;
      color: #2D88CD;
      font-family: 'Gilda Display', serif;
    }

    img {
      height:240px;
      width: 250px;
    }

}





.detail-card{
  display: flex;
  flex-direction: column;
  background: white;

}

.detail-header{

}

.detail-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


  .left-side-detail{
    width: 45%;
  }
  .right-side-detail{
    width: 45%;

    .comments {
      height: 300px;
      overflow-y: scroll;
    }
    .single-comment {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .comment-content {
        width: 80%;
      }
    }
  }
}

