@import 'bulma';

@import url('https://fonts.googleapis.com/css?family=Gilda+Display');

/* home page styling */
#main-heading {
  font-family: 'Monoton';
  font-size: 80px;
  text-align: center;
}

#camera-container {
margin:auto;
border: 2px solid gray;
border-radius: 50%;
width: 100px;
height: 100px;

  .fa-camera-retro {
    margin: 13px;

  }
}

nav {
   display: flex;
  justify-content: center;

    a{font-family:'Arima Madurai';
      margin: 10px;
      font-size: 20px;

    }

}

.images {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.repeat-img{
  position: relative;
  .likes{
    opacity: 0;
    color: white;
    position: absolute;
    top:125px;
    left:125px;


    }
}
.repeat-img:hover {
  .likes {
  opacity:inherit;
  }
}


li.ng-scope {
  margin: 5px;

}


div.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;

    header{
      font-weight: bolder;
      color: #2D88CD;
      font-family: 'Arima Madurai', serif;
      height: 20px;
    }

    img {
      height:240px;
      width: 250px;
      margin: auto;
    }

}


/* home page styling */


/* add page styling */

h3{
  text-align: center;
  font-family: 'Bungee Shade';

}

form {
  display:flex;
  flex-direction: column;
  align-items: center;
  height:300px;
  width: 350px;
  padding-top: 10px;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  input{
    width:250px;
  }
  textarea{
    width:250px;
    height:80px;

  }
}




/* add page styling */




/* details page styling  */

.detail-card{
  display: flex;
  flex-direction: column;
  background: white;

}

.detail-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


  .left-side-detail{
    width: 45%;
  }
  .right-side-detail{
    width: 45%;

    .comments {
      height: 300px;
      overflow-y: scroll;
    }
    .single-comment {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .comment-content {
        width: 80%;
      }
    }
  }
}

/* details page styling */
