<header id= "about-header">About Us</header>

<ul id= "team">
<li>Barry Howard, Front-End Developer
<div class= "creator-image"><img src= "./../images/FullSizeRender 3.jpg"/></div>
</li>
<li><div id= "about-content">

    <p>While studying coding at the Iron Yard in Atlanta, developers Barry Howard and Snehel Patel discovered they shared a passion for photography and other forms of visual media, and thus Instashare was born!
    </p>
    <p>In Instagram, users have a platform to show off their photos while organizing them based on on a simple like sytem.  Unlike other sharing services, there are no user profiles or histories, the goal being to encourage a more dynamic experience and discourage any lasting user conflicts.  This frees the application up for more organic discussion that supports Barry and Snehel's unorthodox style.
    </p>
  

</div>
</li>
<li>Snehel Patel, Front-End Developer
<div class= "creator-image"><img src= "./../images/FullSizeRender 4.jpg"/></div>
</li>
</ul>
