<header id= "about-header">About Us</header>

<ul id= "team">
<li>Barry Howard, Front-End Developer</li>
<li>Snehel Patel, Front-End Developer</li>
</ul>


<div id= "about-content">
  <p class= "sub-content">Goals
    </p>
  <p> In developing InstaShare, we aim to draw attention to the shackles of visibility imposesd upon us by a society consumed by constant visual documentation. We inadvertently relinquish control to those who surveil us from behind the lens, capturing us momentarily and dictating how the world will perceive us.</p>
    <p class= "sub-content">Service
            </p>
            <p> InstaShare provides users with the opportunity to capture and share moments while allowing others to comment and provide alternative perspectives. InstaShare helps remove the power dichotomy that exists between the object and holder of the gaze through interactive communication while never letting users forget that we must constantly struggle against the shackles of being seen.</p>
  <p class= "sub-content">Historical Context
              </p>
            <p> As we cower and conform under the gaze of surveillance, we realize no truth can be ascertained in our photos. As objects we perform in particular ways to avoid societal ridicule and institutional punishment. Overwhelmingly, control and power are institutionally granted. Our streets, hospitals, government buildings, places of business, and prisons are constantly on camera.</p>
              <p> As cameras become readily available and easy to use, we can refocus the gaze to those who wield control. Modern society allows for critique of those who top institutional hierarchies and never faced their gaze inward. They behaved without fear of retribution. Though sometimes our intent is misaligned, and as objects gaining some semblence of control, we don’t always want to upend the powers that be. Sometimes we just want to take unflattering pictures of strangers and post them on the internet to revel in their public humiliation. Use of power will vary.</p>
                <p> We teeter through establishing a new hierarchy where the object develops autonomy and the surveilling institutions are at the behest of our gaze. The struggle to establish our personal agency continues—how much do we relinquish each day posing for a picture with our friends, how much do we rob each other of through our cameras, how much do we continue to lose to the cameras that watch us shop, eat, send our mail, and live our lives.</p>

</div>
