<h3 class="title">Add an Image</h3>

<form name="new-image">
  <p class="control">
    <input name="title" type="text" placeholder="Name"
           ng-model="image.title" />
  </p>
  <p class="control">
    <input name="destination_url" type="text" placeholder="Image Url"
           ng-model="image.destination_url" />
  </p>
  <p class="control">
    <textarea name="description" placeholder="Image Description"
           ng-model="image.description"/></textarea>
  </p>
  <button ng-click="addImage(image)" class="button is-primary">Add an Image!</button>
</form>
