
<div class="is-active modal">
  <div class="modal-background"></div>
  <div class="modal-content">

    <div class="detail-card">
    	<div class="detail-header">
    		<h3>{{ image.title }}</h3>
    	</div>
    	<div class="detail-body">
	    	<div class="left-side-detail">
				<div class= "img-container"><img ng-src="{{ image.destination_url }}" /></div>
		        <div class= "description">{{image.description}}</div>
		    </div>
		    <div class="right-side-detail">
          <h4>Comments</h4>
		        <ul class="comments">
			  		<li ng-repeat="c in comments">
			  			<div class="single-comment">
				  			<p class="comment-content">{{ c.content }}</p>

							<button ng-click="deleteComment(c)" class="button is-danger">
				  				<span class="icon">
				    			<i class="fa fa-times"></i>
				  				</span>
				  				<span></span>
							</button>
			  			</div>
			  		</li>
			  	</ul>
			  	<form ng-submit="addComment(comment.new)">
				  	<input type="text" placeholder="New Comment..." ng-model="comment.new"/></input>
		           	<button class="button is-primary">Post Comment!</button>
		        </form>
			</div>
		</div>

		<div class="detail-footer">

			<a href="#/update/{{image.id}}">
			<button class="button is-primary">
  				<span class="icon">
    			<i class="fa fa-wrench"></i>
  				</span>
  				<span>Update</span>
			</button>
			</a>

			<button ng-click="likePost(image)" class="button">{{ image.likes }}</button>

			<button ng-click="deletePost(image)" class="button is-danger">
  				<span class="icon">
    			<i class="fa fa-times"></i>
  				</span>
  				<span>Delete</span>
			</button>
		</div>
    </div>


  </div>
  <a href="#/"><button class="modal-close"></button></a>
</div>
